body{
 
  margin: 0;
  /* background-color:#7b44a2 ;*/

/* background-color:#59247f; */
background-color:  rgb(111, 85, 150);
}
.home{
    position: absolute;
    height:70%;
    width:100%;
    align-items: center;
    /* background-color: rgb(137, 127, 114); */
    margin-top: 16%;
    display: flex;
    gap:20px;
}

.header{ 
  height: 20%; 
  width: 100%;
background-color:  rgb(111, 85, 150);
}
.lavender-div{
   position:absolute; 
   justify-content:center;
   align-items: center;
   margin-left: -17%;
  
}
.nav{
    position:fixed;
    width: 60%;
    padding-top: 3%;
     margin-left: 35%;
     margin-right: 0;
     position:fixed;
    z-index: 20;
    
   
}
.nav ,.nav-item{
    display: flex;
    justify-items: center;
    justify-content: center;
    justify-content: space-between;
}
.nav-item{
    padding-top: 4%;
    width: 100%;
    gap: 50px;
    /*remove the dot for each item*/
    list-style: none;
    padding: 0;
    margin: 0;
     font-family: Arial, Helvetica, sans-serif;
    
}
a{
    text-decoration: none;
    font-size: large;
    font-family:'Times New Roman', Times, serif;
    /* font: weight 70; */
    color: rgb(241, 229, 218);
}
.login-button{
    background:none;
    border-radius: 4px;
    border:solid 1.25px rgb(110, 73, 131);
    padding-right: 3%;
    box-shadow: 0 0 5px  rgb(170, 148, 176);
    font-size: medium;
   color: rgb(241, 229, 218);   
    padding: 5px 30px 5px 30px;
   
}
.welcome-div img{
    width: 90%;
    height: 70%;
    border-radius: 10px;
    display: block;
    margin: 0;

}
.welcome-div p ,h2 {
     font-family: Sans-Serif;
     font-style: inherit;
     font-weight: 500;
    /* color: rgb(50, 47, 45); */
}
.welcome-div h2{
    /* color: rgb(241, 229, 218); */
    color: rgb(58, 29, 74);
}
.welcome-div p {
    /* color: rgb(229, 208, 188); */
    color: rgb(182, 160, 214);
  
}

.general-div{
    display: flex;
    z-index: 5;
}
.group-div{
    /*scroll*/
    overflow:auto;
    display: flex;
    /* align-items: center; */
   animation: spin 70s infinite linear;
   width: 100%;
   gap: 40px;
}
/*to remove the scroll line*/
.group-div::-webkit-scrollbar{
    display: none;
}
.welcome-div{
    width: 600px;
    /* justify-content: space-between; */
    height: 40vw;
    flex-shrink: 0;
    
    
}
@keyframes spin {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

