body{
 
  margin: 0;
  /* background-color:#7b44a2 ;*/

/* background-color:#59247f; */
background-color:  #30133d;
}
.hero-section{
    display: flex;
    gap: 20%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65%; /* border: solid 10px white;
    */
    

}
.hero-title{
    margin-top: 12%;
    width: 70%;
    height: 50vw;
    justify-content: center;
    align-items: center;
    
    
}
.hero-title > h1 , p{
    margin-left: 49%;
    color: #ad7f51;

}
.hero-title h1{
   
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 80px;
  letter-spacing: 8px;
  text-transform: uppercase;
  padding-right: 20px;

}
.hero-title p{
    font-size:1rem;
    width: 25rem;
    padding-left: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}
.hero-title span{
    padding-left: 30px;
}
.map-div{
    width: 120%;
    margin-bottom:6%;

}

.home{
    position: absolute;
    height: fit-content;
    height:70%;
    width:100%;
    align-items: center;
    /* background-color: rgb(137, 127, 114); */
    margin-top: 16%;
    display: flex;
    gap:20px;
}

.header{ 
  height: 20%; 
  width: 100%;
/* background-color:  rgb(111, 85, 150); */
}
.lavender-div{
    /* ---------------maybe remove----------- */
   position:fixed; 
   justify-content:center;
   align-items: center;
   margin-left: -70px;
  
}
.lavender-div img{
    margin-left: -170px;
}
.nav{
    position:fixed;
    width: 60%;
    padding-top: 3%;
    margin-left: 35%;
    margin-right: 0;
    position:fixed;
    z-index: 20;
}
.nav ,.nav-item{
    display: flex;
    justify-items: center;
    justify-content: center;
    justify-content: space-between;
}
.nav-item{
    padding-top: 4%;
    width: 100%;
    gap: 50px;
    /*remove the dot for each item*/
    list-style: none;
    padding: 0;
    margin: 0;
     font-family: Arial, Helvetica, sans-serif; 
}
a{
    text-decoration: none;
    font-size: large;
    font-family:'Times New Roman', Times, serif;
    /* font: weight 70; */
    color: rgb(241, 229, 218);
}
.login-button{
    background:none;
    border-radius: 4px;
    border:solid 1.25px rgb(110, 73, 131);
    padding-right: 3%;
    box-shadow: 0 0 5px  rgb(170, 148, 176);
    font-size: medium;
   color: rgb(241, 229, 218);   
    padding: 5px 30px 5px 30px;
   
}
.welcome-div img{
    width: 90%;
    height: 70%;
    border-radius: 10px;
    display: block;
    margin: 0;
}
.welcome-div p ,h2 {
     font-family: Sans-Serif;
     font-style: inherit;
     font-weight: 500;
    /* color: rgb(50, 47, 45); */
}
.welcome-div h2{
    /* color: rgb(241, 229, 218); */
    /* color: rgb(58, 29, 74); */
    color: #86613e;
}
.welcome-div p {
    /* color: rgb(229, 208, 188); */
    color: rgb(182, 160, 214);
    margin-left: 0;
    color: #e2a66b;
  
}
.general-div{
    display: flex;
    z-index: 5;
}
.group-div{
    /*scroll*/
    overflow:auto;
    display: flex;
    /* align-items: center; */
   animation: spin 70s infinite linear;
   width: 100%;
   gap: 40px;
}
/*to remove the scroll line*/
.group-div::-webkit-scrollbar{
    display: none;
}
.welcome-div{
    width: 600px;
    height: 40vw;
    flex-shrink: 0;
}
 .intro-section {
   width: 100%;
   height: 40rem;
   margin-top: 64%;
   /* position: absolute; */
   /* background-color:  #40224e;  */
    background-color:  #351d41; 
}
.temp-div h2{
    font-weight: 890;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
     color: #200d29;
}
.temp-div  p {
    margin-left: 0;
    font-weight: 500;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: #e2a66b;
    padding-right: 15rem;
    
}
.temp-div{
    padding-left: 15rem;
    height: 150%;
    margin-bottom: -2rem;
}
footer{
    margin-top: 2rem;
    height: 14rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 2rem 2rem 2rem;
    
}
footer p {
    font-size: 1rem;
}
#git{
    margin-left: 3.5rem;
}


@keyframes spin {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

