body{
  margin: 0;
  /* background-color:#7b44a2 ;*/
/* background-color:#59247f; */
background-color:  #30133d;
}
.hero-section{
    display: flex;
    gap: 20%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65%; 
    /* border: solid 10px white; */
}
.hero-title{
    margin-top: 12%;
    width: 70%;
    height: 50vw;
    justify-content: center;
    align-items: center;
}
.hero-title > h1 , p{
    margin-left: 49%;
    /* color: #a47d56; */
    color: #e2a66b;
    /* color: rgb(197, 81, 139); */

}
.hero-title > h1 {
  text-shadow: 0 0 3px #e1c4aa,
               0 0 3px #e1c4aa,
               0 0 4px #e1c4aa;

}
.hero-title h1{
   
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 80px;
  letter-spacing: 8px;
  text-transform: uppercase;
  padding-right: 20px;

}
.hero-title p{
    font-size:1rem;
    width: 25rem;
    padding-left: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}
.hero-title span{
    padding-left: 30px;
}
.map-div{
    width: 120%;
    margin-bottom:6%;

}

.home{
    position: absolute;
    height: fit-content;
    height:70%;
    width:100%;
    align-items: center;
    /* background-color: rgb(137, 127, 114); */
    margin-top: 16%;
    display: flex;
    gap:20px;
}

.header{ 
  height: 20%; 
  width: 100%;
/* background-color:  rgb(111, 85, 150); */
}
.lavender-div{
    /* ---------------maybe remove----------- */
   position:fixed; 
   justify-content:center;
   align-items: center;
   margin-left: -70px;
  
}
.lavender-div img{
    margin-left: -170px;
}

.welcome-div img{
    /* width: 90%;
    height: 70%;
    border-radius: 10px;
    display: block;
    margin: 0; */
    max-width: 100%;
    height: auto;
    border-radius: 2rem;
    object-fit: cover;
}
.welcome-div p ,h2 {
     font-family: Sans-Serif;
     font-style: inherit;
     font-weight: 500;
    /* color: rgb(50, 47, 45); */
}
.welcome-div h2{
    /* color: rgb(241, 229, 218); */
    /* color: rgb(58, 29, 74); */
    color: #86613e;
    
}
.welcome-div p {
    /* color: rgb(229, 208, 188); */
    color: rgb(182, 160, 214);
    margin-left: 0;
    color: #e2a66b;
  
}
.general-div{
    display: flex;
    z-index: 5;
}
.group-div{
    /*scroll*/
    overflow:auto;
    display: flex;
    /* align-items: center; */
   animation: spin 70s infinite linear;
   width: 100%;
   gap: 40px;
}
/*to remove the scroll line*/
.group-div::-webkit-scrollbar{
    display: none;
}
.welcome-div{
    width: 600px;
    height: 40vw;
    flex-shrink: 0;
}
 .intro-section {
   width: 100%;
   height: 45rem;
   margin-top: 64%;
   /* position: absolute; */
   /* background-color:  #40224e;  */
    background-color:  #351d41; 
    border-bottom:solid 0.15rem #936b43;
     border-top:solid 0.15rem #936b43;
   
}
.temp-div h2{
    font-weight: 890;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
     /* color: #200d29; */
     /* color: #71563b; */
      color: #5a3d23;
}
.temp-div  p {
    margin-left: 0;
    font-weight: 500;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    /* color: #e2a66b; */
    /* color: rgb(225, 116, 170); */
     /* color: #ddb7ef; */
     color: #efbe8d; 
    padding-right: 15rem;
    
}
.temp-div{
    padding-left: 15rem;
    height: 150%;
    margin-bottom: -2rem;
}
footer{
    margin-top: 4rem;
    height: rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 10rem 2rem 10rem;
  
}
footer p {
    font-size: 1rem;
    
    
}
.contract-div{
    /* padding-left: 18rem; */
    padding-top: 1rem;
    justify-content: center;
    align-items: center;
   padding-left: 2rem;
}
.vision-div img{
margin-left: 2rem;
/* margin-bottom: 7rem; */
}
.vision-div{
    display: flex;
    /* width: 40rem; */
    height: 2rem;
}
.vision-div p{
 color: #c4996f; 
}
.vision-div #copy{
  font-size: 0.85rem;
  color: #666461;
  padding-left: 0.5rem;
   font-weight: 200;
    font-size: 0.75rem;
    font-family: 'Montserrat', sans-serif;
}
.contract-div p{
    color: #666461;
    font-size: 0.85rem;
    margin: 0;
    margin-top: 1.25rem; 
    font-weight: 200;
    font-size: 0.75rem;
    font-family: 'Montserrat', sans-serif;
}


.foText-div {
    display: flex;
    flex-direction: column;
    width: 40rem; 
    margin-left: -20rem;
     font-weight: 100;
    font-size: 0.25rem;
    font-family: 'Montserrat', sans-serif;
}


.line-div{
  width: 1px;              
  height: 6rem;            
  background-color: #4c4a48;
  margin: 0 2rem;          
}

#git{
    margin-left: 3.5rem;
}


@keyframes spin {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

