body{
 
  margin: 0;
   background-color: rgb(196, 186, 175);
}
.home{
    position: absolute;
    height:70%;
    width:100%;
    align-items: center;
    /* background-color: rgb(137, 127, 114); */
    margin-top: 16%;
    display: flex;
    gap:20px;
}

.header{ 
  height: 20%; 
  width: 100%;

}
.nav{
    position:fixed;
    width: 60%;
    padding-top: 3%;
     margin-left: 35%;
     margin-right: 0;
     position:fixed;
    
   
}
.nav ,.nav-item{
    display: flex;
    justify-items: center;
    justify-content: center;
    justify-content: space-between;
}
.nav-item{
    padding-top: 4%;
    width: 100%;
    gap: 50px;
    /*remove the dot for each item*/
    list-style: none;
    padding: 0;
    margin: 0;
    
}
a{
    text-decoration: none;
    font-size: large;
    font-family:'Times New Roman', Times, serif;
    /* font: weight 70; */
    color: rgb(56, 53, 50);
}
.login-button{
    background:none;
    border-radius: 6px;
    border:solid 1.25px rgb(152, 144, 135);
    padding-right: 3%;
    box-shadow: 0 0 10px  rgb(172, 162, 152);
    font-size: medium;
    color: rgb(56, 53, 50);   
    padding: 5px 30px 5px 30px;
   
}
.welcome-div img{
    width: 90%;
    height: 70%;
    border-radius: 10px;
    display: block;
    margin: 0;

}
.general-div{
    display: flex;
    
}
.group-div{
    /*scroll*/
    overflow:auto;
    display: flex;
    /* align-items: center; */
   animation: spin 70s infinite linear;
   width: 100%;
   gap: 40px;
}
/*to remove the scroll line*/
.group-div::-webkit-scrollbar{
    display: none;
}
.welcome-div{
    width: 600px;
    /* justify-content: space-between; */
    height: 40vw;
    flex-shrink: 0;
    
    
}
@keyframes spin {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

